*{
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: rgb(255, 255, 255);
}
.header_ico .search_bar{
    width: 100%;
    padding: 20px 0px;
    position: absolute;
    background-image: repeating-linear-gradient(to right,rgb(39, 39, 39),rgb(106, 103, 103));
    top: 100%;
    left: 0%;
    animation-name: fade;
    animation-duration: .5s;
    display: none;
    z-index: 888;
}
.header_ico .search_bar div{
    width: 80%;
    margin: auto;
    display: flex;
    
}
.search_bar div input{
    width: 85%;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px solid transparent;
    position: relative;    
    font-size: 18px;
    background-color: white;
    transition: .8s;
}
div input::placeholder{
    font-size: 18px;
    transition: .8s;
}
div input:focus::placeholder{
    font-size: 18px;
    color: rgb(218, 213, 213);
    
    
}
div input:focus{
    border: 1px solid rgb(0, 0, 0);
}
.search_bar div .search_btn{
    cursor: pointer;
    user-select: none;
    background-color: rgb(255, 116, 3);
    width: 15%;
    height: 50px;
    border: 1px solid transparent;
    align-self: center;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.blue_lane{

    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right,orange,rgb(255, 204, 75));
    color: rgb(242, 242, 242);
    font-weight: 600;
    padding: 15px 0px;
}

.header .active{
    color: rgb(250, 177, 42);
}
/*_____________________________________header_____________________________*/


.header{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    position: fixed;
    top: 0%;
    z-index: 999;
    background-image: repeating-linear-gradient(to right,rgb(39, 39, 39),rgb(106, 103, 103));
}
.sticky{
    position: fixed;
    top: 0%;
    z-index: 999;
    background-image: repeating-linear-gradient(to right,rgba(39, 39, 39, 0.931),rgba(106, 103, 103, 0.993));

    /* animation-name: fade;
    animation-duration: .5s; */

}
.header div{
    display: flex;
    align-items: center;
}
.header_col1{
    width: 25%;
    padding: 0px 0px;
    text-align: center;

}
.header_col1 a{
    color: rgb(255, 132, 0);
    text-decoration: none;
    width: 100%;
    font-weight: 800;
    user-select: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    transition: 1s;

}
.header_col1 a:hover, .header_col2 a:hover, .header_ico i:hover{
    color: rgb(255, 158, 54);
    transition: 1s;

}
.header_col2{
    width: 40%;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    justify-self: center;
    

}
.header_col2 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    user-select: none;
    color: rgb(255, 255, 255);
    transition: 1s;
    cursor: pointer;

}
.header_col2 div{
    position: relative;
    padding: 10px 2px;
}


.header_ico{
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style-type: none;
    margin-right: 0%;
    margin-left: 9%;
}
.header_ico div{
    width: 30%;
}
.header_ico i{
   font-size: 20px;
   user-select: none;
   color: white;
   transition: 1s;
    cursor: pointer;

}
.header_ico .bars{
    display: none;
}
.header .click_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 15px;
    background-image: repeating-linear-gradient(to right,rgba(39, 39, 39, 0.931),rgba(106, 103, 103, 0.993));
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 999;
    width: 100%;
    padding: 15px 0px;
}
.click_header div{
    width: 100%;
    margin: 1px 0px;
    padding: 10px 20px;
}
.click_header #products10{
    position: unset;
}
.click_header .products_cont{
    display: flex;
    flex-direction: column;
    position: unset;
    width: 100%;
    display: none;
}
.click_header .products_cont a{
    color: rgb(219, 218, 218);
}
.click_header a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.cross{
    display: none;
}
#products{
    position: relative;
    
}

#products .products_cont{
    margin: auto;
    position: absolute;
    width: 120%;
    background-color: rgba(78, 76, 76, 0.924);
    top: 155%;
    left: 0%;
    z-index: 999;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    display: none;
}
.fa-chevron-down{
    font-size: 12px;
}
.products_cont a{
    padding: 15px 10px;
    display: block;
    width: 100%;
}
.products_cont a:hover{
    background-color: orange;
    color: white;
}

/*____________________________WALL DECOR_________________________________________________*/

main{
    width: 90%;
    margin: auto;
    margin-top: 150px;
}
.wall_decor_main_heading{
    width: 100%;
    text-align: center;
    color: rgb(84, 81, 81);
    margin-bottom: 100px;
}
.wall_decor_main_heading h1{
    text-decoration: underline;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wall_decor_heading{
    width: 100%;
    text-align: center;
    color: rgb(84, 81, 81);
    margin-bottom: 100px;
}
.wall_decor_heading h1{
    text-decoration: underline;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#user_cards{
    width: 100%;
    display: flex;
    margin: 80px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.col_card{
    width: 24.5%;
    padding: 10px 10px;
    margin-bottom: 10px;
    /* background-color: rgb(202, 202, 202); */
    border: 1px solid transparent;
    animation: transition 3s;
    border: 1px solid rgb(187, 187, 187);
}
/* @keyframes transition {
    from{
        opacity: 0;
        transform: translate3d(-180deg);
    }

    to{
        opacity: 1;
        transform: translate3d(0);
    }
} */
    
.col_card img{
    width: 100%;
    transition: .9s;
    opacity: .8;
    position: relative;
    user-select: none;
    
    
}


.col_card .link a{
    color: rgb(75, 75, 75);
    text-align: justify;
    text-decoration: none;
}
.col_card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 16px 16px rgba(0, 0, 0, 0.103);
    border: 1px solid rgba(172, 172, 172, 0.493);
    z-index: 1;
    
}
.col_card:hover .img_card{
    transition: .5s;
    opacity: 1;
    transform: scale(115%, 115%);
}
.for-img{
    overflow: hidden;
}
.col_card:hover .link a{
    transition: .7s;
    text-decoration: underline;
}
.price{
    margin: 10px 0px;
}
.price a{
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-weight: 800;
}
.sale{
    
    width: 15%;
    background-color: orangered;
    user-select: none;
    text-align: center;
    padding: 1px 0px;
    padding-bottom: 4px;
}
.sale a{
    color: white;
    font-weight: 700;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    letter-spacing: 1.3px;
}
.cart{
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 10px 10px;
    width: 20%;
    font-size: 25px;
    color: rgb(84, 84, 84);
    text-align: center;
    display: none;
    background-color: rgba(255, 255, 255, 0.939);
    transition: 1s;
}
.col_card:hover .cart{
    transition: 1s;
    display: block;
    
    animation-name: fade;
    animation-duration: .3s;
}
@keyframes fade {
    from{opacity: .1;right: -5.3%;}
    to{opacity: 1;right: 5%;}
}

@keyframes fade1 {
    from{opacity: .1;}
    to{opacity: 1;}
}
.cart:hover{
    background-color: rgba(0, 0, 0, 0.535);
    color: white;
    transition: 1s;
}
.star_cont{
    margin: 15px 0px;
}
.fa-star{
    margin: 0px 2px;
    color: rgb(255, 132, 0);
    font-size: 14px;
}


/*______________________________FOOTER______________________________________________*/

footer{
    width: 100%;
    margin-bottom: 0%;
    background-color: rgb(232, 232, 232);
    padding: 10% 0%;
    height: 100%;

}
.video_h{
    font-size: 25px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 80px;
    color: rgb(65, 65, 65);
    width: 100%;
    text-align: center;
}
.video_h, .view{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}
.hurr{
    display: flex;
    width: 100%;
    color: rgb(48, 48, 48);
    margin-top: -50px;
    justify-content: center;
}
.email_cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0px;
}
input[type="email"]{
    width: 25%;
    outline: none;
    border: 1px solid rgb(182, 182, 182);
    padding: 13px 20px;
    transition: 1.5s;

}
input[type="email"]::placeholder{
    font-weight: 700;
    padding-left: 5px;
    transition: 1.1s;
}
input[type="email"]:focus{
    transition: 1.1s;
    width: 35%;
}
input[type="email"]:focus::placeholder{
    opacity: .5;
}
.email_cont button{
    width: 8%;
    border: none;
    background-color: rgb(77, 75, 75);
    color: rgb(228, 228, 228);
    font-weight: 500;
    user-select: none;
    transition: 1s;
}
.email_cont button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.footer_nav{
    display: flex;
    width: 70%;
    margin: auto;
    user-select: none;
    justify-content: space-evenly;

}
.footer_nav div{
    width: auto;
}
.footer_nav div a{
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-weight: 500;
    font-size: 16px;
    user-select: none;

}
.footer_nav div a:hover{
    text-decoration: underline;
}
.footer_ico{
    width: 82%;
   
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.paytm{
    display: flex;
    width: 33%;
    justify-content: space-between;
    font-size: 30px;
    user-select: none;
}
.f-icos{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.f-icos a{
    text-decoration: none;
    color: black;
    transition: 1s;
    font-size: 30px;
    transition: 2s;
   
}
.fa-facebook-square:hover{
    transition: 2s;
    color: blue;
}
.fa-pinterest:hover{
    transition: 2s;
    color: rgb(0, 123, 255);
}
.fa-instagram:hover{
    transition: 2s;
    color: rgb(255, 0, 234);
}
.fa-youtube:hover{
    transition: 2s;
    color: rgb(255, 0, 0);
}
.whatsapp_cont{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: right;
    top: 82%;
    
}
    
.whatsapp{
    background-image: repeating-linear-gradient(to right,black,grey);
    color: white;
    padding: 10px 25px;
    box-shadow: 0.1px 0.1px 6px 6px rgba(0, 0, 0, 0.33);
    background-color: rgb(92, 82, 63);
    border-radius: 51%;
    font-size: 50px;
    margin-right: 1%;
    position: absolute;
}
.feel{
    width: auto;
    background-image: repeating-linear-gradient(to right, red,rgb(255, 59, 59));
    box-shadow: 0.1px 0.1px 6px 6px rgba(0, 0, 0, 0.049);
    padding: 4px 10px;
    left: 60%;
    top: 0%;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0.1px 0.1px 6px 6px rgba(0, 0, 0, 0.124);
}

/*_____________________________________ORDER USER INTERFACE_________________________________________*/


#order_ui{
    width: 100%;
    display: none;
    animation-name: order;
    animation-duration: 2s;
}
@keyframes order {
    from{opacity: .2;}
    to{opacity: 1;}
}
.ord_cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.back_btn{
    margin: 20px 0px;
}
.ord_cont_1{
    width: 47%;
}
.ord_cont_1 img{
    width: 100%;
}
.ord_cont_2{
    
    width: 47%;
}
.ord_cont_2 h1{
    font-weight: 600;
    color: rgb(84, 81, 81);
    font-size: 30px;
    margin-bottom: 40px;
}
.ord_cont_2 p{
    font-size: 25px;
    font-weight: 800;
    color: rgb(84, 81, 81);
    margin: 10px 0px;
    stroke-opacity: 1;
}
.inc{
    font-size: 13px;
    margin-top: 10px;
    color: rgb(84, 81, 81);

}
.ord_cont_2 button{
    width: 74%;
    padding: 15px 0px;
    letter-spacing: 1px;
    background-color: transparent;
    margin: 10px 0px;
    border: 1px solid black;
    transition: 1s;
}
.ord_cont_2 .buy_now{
    background-color: rgb(68, 67, 67);
    color: rgb(232, 228, 228);
    border: none;
}
.buy_now:hover{
    background-color: orangered;
    color: white;
    transition: 1s;
}
.add_cart:hover{
    background-color: orangered;
    border: 1px solid transparent;
    transition: 1s;
    color: white;
}
.order_image{
    width: 100%;
}
.pay_cont{
    width: 70%;
    margin: 10px 0px;
    padding: 10px 10px;
    border: 1px solid rgb(151, 151, 151);
}
.pay_cont .pay_heading{
    font-size: 15px;
    color: rgb(252, 122, 0);
    font-weight: 700;
}
.pay_cont .pay_word{
    font-size: 12px;
    color: rgb(46, 46, 46);

}
.pay_cont h2{
    color: rgb(253, 114, 7);
}
.icos{
    display: flex;
    justify-content: space-between;
}
.icos i{
    font-size: 30px;
}
.dcs_btn{
    margin-top: 80px;
    width: 100%;
}
.dcs_btn button{
    border: 1px solid rgb(157, 157, 157);
    padding: 10px 10px;
    background-color: white;
    transition: 1s;
    border-bottom: none;
    
    
    
}
#dcs:hover, #spec:hover, #care:hover{
    background-color: rgb(255, 196, 0);
    border: 1px solid transparent;
    color: white;
    border-bottom: none;
    transition: 1s;
}
.dcs_btn{
   
}

#dcs{
    border-bottom: none;
   font-weight: 600;
   background-color: rgb(255, 196, 0);
    border: 1px solid white;
    color: white;
    border-bottom: none;
   
}
#description_cont1{
    width: 93%;
    padding: 20px 40px;
    border: 1px solid rgb(157, 157, 157);
}
#description_cont1 p{
    margin-bottom: 50px;
}
#description_cont1 h2{
    font-weight: 500;
    font-size: 18px;
    
}
#description_cont1 ol{
    list-style-type: lower-alpha;
    content: "";
    margin-top: 30px;
    margin-left: -20px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 520;
}



#spec_cont{
    width: 93%;
    padding: 20px 40px;
    border: 1px solid rgb(157, 157, 157);
    display: none;

}
#spec_cont p{
    margin-bottom: 50px;
    font-size: 15px;
}
#spec_cont h2{
    font-weight: 500;
    font-size: 18px;
    
}
#spec_cont li{
    list-style-type: none;
    margin-left: 0px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 520;
}


#care_cont{
    width: 93%;
    display: none;
    padding: 20px 40px;
    border: 1px solid rgb(157, 157, 157);
}
#care_cont p{
    margin-bottom: 50px;
    font-size: 15px;
}
.customer{
    width: 96.4%;
    margin: 50px 0px;
    padding: 20px 20px;
    border: 1px solid rgb(157, 157, 157);
}
.customer_heading h1{
    font-weight: 450;
    color: rgb(67, 67, 67);
    font-size: 25px;
    letter-spacing: 2px;
}
.customer_rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer_rate i{
    color: rgb(255, 196, 0);
    font-size: 20px;
}
.review{
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgb(157, 157, 157);
    transition: 1s;
}
.review:hover{
    font-weight: 600;
   background-color: rgb(255, 196, 0);
    border: 1px solid white;
    color: white;
}
.customer_speak{
    display: flex;
    width: 70%;
    align-items: center;
}
.let_cust{
    width: 70%;
    background-image: repeating-linear-gradient(to left, rgb(44, 44, 44),rgb(87, 87, 87));
    color: white;
    border: 1px solid rgb(157, 157, 157);
    border-right: none;
    padding: 15px 20px;
}
.customer_speak .star_cont{
    width: 30%;
    border: 1px solid rgb(157, 157, 157);
    border-left: none;
    padding: 15px 10px;

}


.speak_image_cont{
    width: 100%;
    display: flex;
    margin-bottom: 30px;

}
.image_cont_for_rev{
    width: 10%;

}
.image_cont_for_rev img{
    width: 100%;
}
.heading_cont_for_rev{
    display: flex;
    width: 88%;
    background-color: rgb(245, 241, 241);
    padding: 10px 10px;
    margin-left: 2%;
}
.heading_cont_for_rev .star_cont{
    width: 20%;
}
.heading{
    display: flex;
    width: 100%
}
.heading .sid_div{
    width: 5%;
    margin-right: 10px;
}
.heading img{
    width: 100%;
    vertical-align: middle;
    border-radius: 80%;
}
.heading .head_div{
    width: 90%;

}
.head_div a{
    text-decoration: none;
    color: black;
   
}
.rev{
    font-size: 13px;
}
.shukla {
    font-size: 16px;
    font-weight: 600;
}
.fa-check-circle{
    color: rgb(9, 181, 248);
}
.user_cards{
    display: flex;
    flex-wrap: wrap;
}
.back{
    width: 100%;
    text-align: center;
    margin: 80px 0px;
}
.back a{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    width: 50%;
    text-decoration: none;
    color: black;
    transition: 1s;
}
.back a:hover{
    background-color: rgb(255, 153, 0);
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
.back_spic{
    width: 30%;
    padding: 16px 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: 1s;
}
.back_spic:hover{
    background-color: white;
    color: black;
}
img{
    user-select: none;
}